html, head, title, body, header, nav, ul, li, a, aside, h2, section, figure,
figcaption, p, ol, form, label, input, select, footer {
  padding: 0;
  margin: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

img {
  width: 100%;
}

ol, ul {
  list-style: none;
}