body {
    font-family: sans-serif;
    background-color: aliceblue;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

ul.ingredients-list {
    list-style: square inside;
}

ol {
    list-style: arabic-indic inside;
}

header > img {
    width: 100px;
}

ul li a {
    color: inherit;
    text-decoration: none;
}

.user_review {
    background-color: red;
}